<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=5,IE=9" ><![endif]-->
<!DOCTYPE html>
<html>

<head>
	<title>Grapheditor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="styles/grapheditor.css">
	<script type="text/javascript" src="js/lodash.min.js"></script>
	<script type="text/javascript" src="js/underscore.json.js"></script>
	<script type="text/javascript" src="js/Init.js"></script>
	<script type="text/javascript" src="deflate/pako.min.js"></script>
	<script type="text/javascript" src="deflate/base64.js"></script>
	<script type="text/javascript" src="jscolor/jscolor.js"></script>
	<script type="text/javascript" src="sanitizer/sanitizer.min.js"></script>
	<script type="text/javascript" src="src/js/mxClient.js"></script>
	<script type="text/javascript" src="js/EditorUi.js"></script>
	<script type="text/javascript" src="js/Editor.js"></script>
	<script type="text/javascript" src="js/Sidebar.js"></script>
	<script type="text/javascript" src="js/Graph.js"></script>
	<script type="text/javascript" src="js/Format.js"></script>
	<script type="text/javascript" src="js/Shapes.js"></script>
	<script type="text/javascript" src="js/Actions.js"></script>
	<script type="text/javascript" src="js/Menus.js"></script>
	<script type="text/javascript" src="js/Toolbar.js"></script>
	<script type="text/javascript" src="js/Dialogs.js"></script>
	<script type="text/javascript" src="js/jquery-latest.min.js"></script>
	<script type="text/javascript" src="js/jquery.keyboard.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="js/jquery.keyboard.extension-typing.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/eleindex.js"></script>
	<script type="text/javascript" src="js/Tdrag.js"></script>
	<script type="text/javascript" src="js/pop.min.js"></script>
	<script type="text/javascript" src="js/context.js"></script>
	<script type="text/javascript" src="js/moment.min.js"></script>


</head>

<body>
	<div class="alarmplane"
		style="overflow:auto; line-height: 20px; font-size: 14px; font-weight: bold; height:102px; z-index:3; width:283px; position:absolute; left:0;top:0;background:#e03030;">
		<div></div>
	</div>

	<div class="shunttrainx"></div>
	<div class="shunttrain">
		<div style="    cursor: pointer;
		position: absolute;
		width: 20px;
		right: -1px;
		top: 0px;
		text-align: center;
		color: gray;
		z-index: 3;" id="closeshunttrain">
			X
		</div>
		<h3>收发车计划：</h3>

		<el-table size="small" style="border-top:1px solid #ddd;" :data="tableDatadepart" style="width: 100%"
			max-height="265">
			<el-table-column type="index" width="50">
			</el-table-column>
			<el-table-column prop="number" label="车号" width="80">
			</el-table-column>
			<el-table-column prop="begintime" label="计划开始时间" width="120">
			</el-table-column>
			<el-table-column prop="originsector" label="源始股道" width="120">
			</el-table-column>
			<el-table-column prop="goalsector" label="目标股道" width="120">
			</el-table-column>
			<el-table-column prop="instruct" label="进路指令" width="120">
			</el-table-column>
			<el-table-column prop="endtime" label="计划完成时间" width="120">
			</el-table-column>
			<el-table-column prop="type" label="类型" width="80">
			</el-table-column>
			<el-table-column prop="status" label="状态" width="80">
			</el-table-column>
			<el-table-column label="操作" width="220">
				<template slot-scope="scope">
					<el-button @click.native.prevent="arrange(scope)" type="text" size="small">
						排列进路
					</el-button>
					<el-button @click.native.prevent="cancel(scope)" type="text" size="small">
						取消执行
					</el-button>

					<el-dropdown @command='shunt'>
						<span class="el-dropdown-link">
							变更进路<i class="el-icon-arrow-down el-icon--right"></i>
						</span>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item :key='item' v-for='item in scope.row.routes'
								:command='{item,row:scope.row}'>{{item}}
							</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</template>
			</el-table-column>
		</el-table>
		<h3>调车计划：</h3>
		<el-table size="small" style="border-top:1px solid #ddd;" :data="tableDatashunt" style="width: 100%"
			max-height="265">
			<el-table-column type="index" width="50">
			</el-table-column>
			<el-table-column prop="number" label="车号" width="80">
			</el-table-column>
			<el-table-column prop="begintime" label="计划开始时间" width="120">
			</el-table-column>
			<el-table-column prop="originsector" label="源始股道" width="120">
			</el-table-column>
			<el-table-column prop="goalsector" label="目标股道" width="120">
			</el-table-column>
			<el-table-column prop="operation" label="作业内容" width="120">
			</el-table-column>
			<el-table-column prop="endtime" label="计划完成时间" width="120">
			</el-table-column>
			<el-table-column prop="instruct" label="进路指令" width="120">
			</el-table-column>
			<el-table-column prop="status" label="状态" width="120">
			</el-table-column>
			<el-table-column label="操作" width="220">
				<template slot-scope="scope">
					<el-button @click.native.prevent="arrange(scope)" type="text" size="small">
						排列进路
					</el-button>
					<el-button @click.native.prevent="cancel(scope)" type="text" size="small">
						取消执行
					</el-button>

					<el-dropdown @command='shunt'>
						<span class="el-dropdown-link">
							变更进路<i class="el-icon-arrow-down el-icon--right"></i>
						</span>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item :key='item' v-for='item in scope.row.routes'
								:command='{item,row:scope.row}'>{{item}}
							</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</template>
			</el-table-column>
		</el-table>
	</div>

	<div class="graphbody" style="height:100%; width:100%; position:absolute; overflow: hidden;z-index: 2;">
		<div class="covergraph"></div>
		<!-- 固定窗口 -->





		<!-- 底部显示区域 -->
		<div
			style=" display: flex;justify-content: space-between; line-height: 20px; font-size: 14px; font-weight: bold; height:16px; z-index: 4; width:100%; position:absolute; left:0;bottom:0;background:#eee;">
			<div style="background:#ccc; padding: 0 10px;" id="signalname"> </div>
			<div style=""> </div>
			<div style="background:#ddd; position:relative; min-width: 10px" id="firnode">
				<span></span>
				<div style="display:none; position:absolute;left:0;bottom:16px;background:white;" id="alarmwarninglist">
				</div>
			</div>
			<div style="background:#ddd;" id="countingdown"></div>
		</div>

		<!-- 操作按钮 -->
		<div id="graphactionbtn" style="position:absolute; z-index: 2; left: 0; bottom:16px; width:100%; height:31px; ">
			<input id="graphactionhidden" type="text" style="display:none;">
			<button type="button" class="btn btn-light actionlevelone" style="color:red">场引导总锁</button>
			<button type="button" class="btn btn-light actionlevelone">总取消</button>
			<button type="button" class="btn btn-light actionlevelone" style="color:red">总人解</button>
			<button type="button" class="btn btn-light actionlevelone" style="color:red">区故解</button>
			<button type="button" class="btn btn-light actionlevelone">总定位</button>
			<button type="button" class="btn btn-light actionlevelone">总反位</button>
			<button type="button" class="btn btn-light actionlevelone" id="nofocus">清除</button>
			<button type="button" class="btn btn-light actionlevelone">单锁</button>
			<button type="button" class="btn btn-light actionlevelone">单解</button>
			<button type="button" class="btn btn-light actionlevelone">按钮封锁</button>
			<button type="button" class="btn btn-light actionlevelone">按钮解封</button>
			<button type="button" class="btn btn-light actionlevelone">道岔封锁</button>
			<button type="button" class="btn btn-light actionlevelone">道岔解封</button>
			<button type="button" class="btn btn-light actionlevelone assistmenulevel1" id="nofocus">辅助菜单</button>
			<div id="graphactionbtnsub1" style='display: none;'>
				<div id="graphactionbtnsub2" style='display: none;'>
					<button type="button" class="btn btn-light assistbut01" id="nofocus">窗口</button>
					<button type="button" class="btn btn-light assistbut02" id="nofocus">进路模式</button>
					<div id="graphactionbtnsub3" style='display: none;'>
						<button type="button" class="btn btn-light" id="nofocus">行车日志显示</button>
						<button type="button" class="btn btn-light" id="nofocus">指令提示窗显示</button>
						<button type="button" class="btn btn-light" id="nofocus">正线车信息显示</button>
					</div>
					<div id="graphactionbtnsub4" style='display: none;'>
						<button type="button" class="btn btn-light" id="nofocus">人工模式</button>
						<button type="button" class="btn btn-light" id="nofocus">自动模式</button>
					</div>
				</div>
				<button type="button" class="btn btn-light assistbut0" id="nofocus">MDIAS菜单</button>
				<button type="button" class="btn btn-light" id="nofocus">道岔名称隐藏</button>
				<button type="button" class="btn btn-light" id="nofocus">信号名称隐藏</button>
				<button type="button" class="btn btn-light" id="nofocus">道岔区段名称显示</button>
				<button type="button" class="btn btn-light" id="nofocus">无岔区段名称显示</button>
				<button type="button" class="btn btn-light" id="nofocus">道岔位置显示</button>
				<button type="button" class="btn btn-light" id="nofocus">接通光带</button>
				<button type="button" class="btn btn-light" id="nofocus">语音暂停</button>
				<button type="button" class="btn btn-light" id="nofocus">破封统计</button>
				<button type="button" class="btn btn-light" id="nofocus">报警窗口隐藏</button>
				<button type="button" class="btn btn-light currenttrain" id="nofocus">现车</button>
				<button type="button" class="btn btn-light supplyelectric" id="nofocus">供电分区</button>
				<button type="button" class="btn btn-light assistbutshunttrain" id="nofocus">调车计划</button>
				<button type="button" class="btn btn-light busywire" id="nofocus">占线板</button>
				<button type="button" class="btn btn-light triggertrain" id="nofocus">显示列车</button>
				<button type="button" class="btn btn-light outassistmenu" id="nofocus">退出菜单</button>
			</div>

		</div>


		<div id="dragicons" style="position:absolute; z-index: 2; left: 0; top:50%; width:30px; display: none;">

			<img data-type='1' style='width:30px; height:30px;' src="./images/holdwire/deny-round.png" alt="" srcset="">
			<img data-type='2' style='width:30px; height:30px;' src="./images/holdwire/alert-round.png" alt=""
				srcset="">
			<ul style="    position: absolute;
			color: white;
			width: 70px;
			right: -74px;
			font-size: 14px;
			z-index: 0;
			top: 0px;
			list-style: none;
			line-height: 32px;">
				<li>接触网送电</li>
				<li>接触网断电</li>
			</ul>
		</div>
		<!-- 固定窗口 -->



	</div>


</body>

<script type="text/javascript" src="js/customfunc.js"></script>
<script>
	/*
	 * 页面加载完成通知后端
	 */
	function document_load_ready(key) {
		var def = $.Deferred();
		if (window.cefQuery) {
			window.cefQuery({
				request: JSON.stringify({
					cmd: "load_finish"
				}),
				persistent: false,
				onSuccess: function (response) {
					def.resolve(response)
				},
				onFailure: function (error_code, error_message) {
					def.reject(error_message)
				}
			})
		} else {
			def.reject('it in not in shell env')
		}
		return def
	}
</script>

</html>